<h1>Blog cars</h1>

<p *ngIf="!(blogCars$ | async)"><em>Loading...</em></p>
<p>
  
</p>

<table class="table table-striped table-dark" >
  <thead>
    <tr>
      <th>#</th>
      <th>Cars</th>
      <th>Creator</th>
      <th>Date Added</th>
      <th></th>
      <th><a [routerLink]="['/add']" class="btn btn-light btn-sm">New car</a></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let blogCar of (blogCars$ | async)">
      <td>{{ blogCar.carId }}</td>
      <td><a [routerLink]="['/blogcar/', blogCar.carId]">{{ blogCar.title }}</a></td>
      <td>{{ blogCar.creator }}</td>
      <td>{{ blogCar.dt | date: "dd.MM.y" }}</td>
      <td><a [routerLink]="['/blogcar/edit/', blogCar.carId]" class="btn btn-primary btn-sm float-right">Edit</a></td>
      <td><a [routerLink]="" (click)="delete(blogCar.carId)" class="btn btn-danger btn-sm float-right">Delete</a></td>
    </tr>
  </tbody>
</table>

<footer>Copyright &#xA9; Michał Albiniak 2021</footer>

